#country-info {
    display: flex;
    flex-flow: column;
    background-color: rgb(114, 171, 224);
}

#country-info h2 {
    color: white;
    margin: 10px;
}


.country-info-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 5vmax;
}

.country-info-section > h2{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 1em;
}

.cis-item{
    background-color: #69e5ae; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 2px 0px;
    
}


.item-img-container {
    width: 50%;
    display: flex;
    
}

.item-img{
    width: 100%;
    height: auto;
    align-self: center;
}

.item-info{
    width: 50%;
    height: 100%;
    text-align: left;
    font-size: 2vmax;
    color: white;
    margin: 25px 0;
}

.item-info h3 {
    padding: 0 40px;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 0;
}

.item-info > p {
    padding: 0 40px;
    font-size: 20px;
    line-height: 125%;
}

.learn-more {
    margin-top: 40px;
}

.item-info a {
    color: white;
    background-color: rgba(0, 0, 0, .15);
    text-decoration: none;
    padding: 10px;
}

.item-info a:hover {
    background-color: rgba(0, 0, 0, .3);
}