#country-info {
    display: flex;
    flex-flow: column;
    /*background-color: rgb(114, 171, 224);*/
}


.country-info-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    border: dotted 1px red;
}

.cis-item{
    border: dotted 1px red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: xx-large;
    margin: 1em 0em;
}

.item-img-container {
    width: 50%;
    
}

.item-img{
    width: 100%;
    height: auto;
}

.item-name{
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: xx-large;
}