#country-info {
    display: flex;
    flex-flow: column;
    background-color: rgb(114, 171, 224);
}


.country-info-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    border: dotted 1px red;
}

.cis-item{
    justify-self: flex-start;
    border: dotted 1px red;
    display: flex;
}

.item-img-container {
    width: 50%;
}

.item-img{
    width: 100%;
    height: auto;
}

.item-name{
    width: 50%;
}