footer {
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color: #69e5ae;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright {
    margin-left: 25px;
}

.footer-logo img {
    height: 40px;
    width: auto;
}

.footer-social {
    margin-right: 25px;
}

.footer-social ul {
    list-style-type: none;
}

.footer-social ul li {
    float: left;
    padding: 5px;
}

.footer-social img {
    height: 25px;
    width: auto;
}