@import "header.css";

@import "footer.css";

@import 'country-info.css';

/* These are the colors for the USA theme */
/* #3C3B6E - USA Flag Blue - #FFFFFF USA Flag White - #B22234 USA Flag Red */
body {
	color: #ffffff;
}
main {
	background-image: url('../../imgs/yosemite-wideshot-background-image.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 600px;
	width: auto;
	display: flex;
	flex-direction: column-reverse;
	padding: 4px;
	color: white;
}

.flex-container-for-main {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
	height: 100%;
	width: auto;
}

.floating-country-name-container {
    align-items: flex-start;
	font-size: 69px;
	font-size: 75px;
    margin-left: 40px;
    margin-top: 70px;
    align-self: flex-start;
} 

.floating-country-name-container span {
    padding: 25px;
    background-color: rgba(0, 0, 0, .5);
}

.country-name-bottom-main {
	align-items: flex-end;
	text-align: right;
	margin: 4px 15px 25px 4px;
}

.bottom-name-highlight {
	background: center rgba(114, 171, 224, .6);
	padding: 10px 15px;
}

#bottom-about {
    position: relative;
    color: white;
    background-image: url('../imgs/clouds.jpg');
    background-position: center;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

#bottom-about::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(114, 171, 224, .75);
}

#bottom-about h3 {
    position: relative;
    margin: 0;
    padding: 40px 40px 10px 40px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

#bottom-about p {
    position: relative;
    margin: 0;
    padding: 10px 40px 40px 40px;
    font-size: 15px;
    line-height: 150%;
    text-align: justify;
}
