@import 'country-info.css';
@import "header.css";

main {
	background-image: url('../imgs/yosemite-wideshot-background-image.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 600px;
	width: auto;
	display: flex;
	flex-direction: column-reverse;
}

.flex-container-for-main {
	display: flex;
	flex-direction: row;
}
